In [2]:
import matplotlib as plt
plt.__version__

'3.7.2'

In [3]:
import pandas as pd

In [4]:
series = pd.Series([8,6,9,3,5,1])
series

0    8
1    6
2    9
3    3
4    5
5    1
dtype: int64

In [5]:
series.values

array([8, 6, 9, 3, 5, 1], dtype=int64)

In [6]:
series.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
print(series[1])

6

In [8]:
series[1:3]

1    6
2    9
dtype: int64

In [9]:
series = pd.Series([8,6,9,3,5,1], index['a','b','c','d','e','f'])
series

NameError: name 'index' is not defined

In [10]:
series = pd.Series([8,6,9,3,5,1], index=['a','b','c','d','e','f'])
series

a    8
b    6
c    9
d    3
e    5
f    1
dtype: int64

In [1]:
import pandas as pd
data={'student':["A","B","C","D","E"],'rank': [1,4,3,5,2],'marks': [95,70,80,60,90]}
res=pd.DataFrame(data)
print("Student Records\n\n",res)

Student Records

   student  rank  marks
0       A     1     95
1       B     4     70
2       C     3     80
3       D     5     60
4       E     2     90